.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*,*::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: calibri;
}

body {
  display: flex;
  justify-content: center;
}

/* swiper-container {
  background-color: aliceblue;
  width: 1500px;
  height: 232px;
  line-height: 200px;
  text-align: center;
} */

swiper-slide {
  background-color: rgb(4 47 46);
  color: #fff;
  font-size: 25px;
}

swiper-slide:nth-child(2) {
  background-color: rgb(15 118 110);
}

swiper-slide:nth-child(3) {
  background-color: rgb(45 212 191);
}

swiper-slide:nth-child(4) {
  background-color: rgb(153 246 228);
}

swiper-slide:nth-child(5) {
  background-color: rgb(34 197 94);
}
/* .carousel-container{
  position: relative;
} */
.nav-btn{
  display: block;
  position: absolute;
  z-index:20;
  user-select:none;
  -webkit-user-select:none;
  background-color: rgba(0,0,0,0.3);
  cursor: pointer;
  padding: 2px;
  border-radius: 5px;
  transition: background 0.5s ease;
}
.nav-btn:hover{
  background-color: yellow;
}
.nav-btn.custom-prev-button{
  top:32%;
  left:-3rem;
}
.nav-btn.custom-next-button{
  top:32%;
  right:-3rem;
}